<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %level %class{36} %L %M - %m%ex%n" />
		</Console>
		<File name="test_file" fileName="test.out">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %level %m%n%ex%n" />
		</File>
	</appenders>
	<loggers>
		<root level="off">
			<appender-ref ref="Console" />
		</root>
		<logger name="net.sf.log4jdbc" level="error" additivity="false">
			<appender-ref ref="Console" />
		</logger>
		<logger name="log4jdbc.log4j2" level="debug" additivity="false">
			<appender-ref ref="test_file" />
		</logger>
		<logger name="log4jdbc.debug" level="debug" additivity="false">
			<appender-ref ref="test_file" />
		</logger>
	</loggers>
</configuration>